body,
html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #FFFFFF;
}


.wrap {
  height: 800px;
  width: 1110px;
  margin: 100px;
  background-color: #EDEFF0;
}

#nav {
  height: 70px;
  width: 1070px;
  margin: 15px;
  padding: 0;
  background-color: #EDEFF0;
  border-bottom-style:inset;
  border-color: #C7C9C9;
}

#nav p {
  width: 70px;
  height: 20px;
  margin-top: 27.5px;
  float: left;
  font-size: 20px;
  font-family: sans-serif;
  color:#374048;
}

#nav ul {
  list-style-type: none;
  display: inline;
}

#nav li {
  float: right;
  margin: 30px 5px 0px 5px;
}

.columns {
  width: 1080px;
  margin: 15px;
  padding: 0;
}

.box {
  height: 300px;
  width: 500px;
  border-style: solid; 
  border: 0px .5px 2px .5px;
  border-color: #C7C9C9;
  border-radius: 4px;
  margin: 15px 15px 15px 15px;
  padding: 0;
}

#Box1 {
  float:right;
  background-color: #FFFFFF;
}

#Box1 .header1 {
  height: 60px;
  width: inherit;
  padding: 0;
  margin: 0px 0px 240px 0px;
  background-color: #FF81AD;
}

#Box2 {
  float:left;
  background-color: #FFFFFF;
}

#Box2 .header2 {
  height: 60px;
  width: inherit;
  padding: 0;
  margin: 0px 0px 240px 0px;
  background-color: #009E77;
}

#Box3 {
  float:right;
  background-color: #FFFFFF;
}

#Box3 .header3 {
  height: 60px;
  width: inherit;
  padding: 0;
  margin: 0px 0px 240px 0px;
  background-color: #009E77;
}

#Box4 {
  float:left;
  background-color: #FFFFFF;
}

#Box4 .header4 {
  height: 60px;
  width: inherit;
  padding: 0;
  margin: 0px 0px 240px 0px;
  background-color: #8685CB;

.cf:after {
  content:"";
  display: table;
  clear: both;
}
